.navBar {
  background: rgb(255, 255, 255);
  direction: rtl;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px -5px;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  padding: 4px 0;
}
.hidden {
  display: none;
}
.kBud {
  display: flex;
  align-items: center;
}

.eopfu {
  align-items: center;
  padding: 10px 0;
  margin: 0 10px;
}
.eopfu li {
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.eopfu li a {
  margin: 0 0.5rem;
  padding: 4px 2px;
  white-space: nowrap;
}
.eopfu li:hover a {
  color: #3499ff;
}
.category {
  height: 100%;
}
.navSearch {
  border: 1px solid rgb(218, 225, 231);
  border-radius: 10px;
  align-items: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.7);
}

.searchForm {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 0.75rem;
}

.searchForm input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.searchForm svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
  fill: rgb(95, 95, 95);
}
.categoryBurger {
  cursor: default;
  padding: 13px 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.hover {
  border-bottom: 2px solid red;
}
.categoryBurger span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryBurger svg {
  width: 19px;
  height: 19px;
}
.categoryBurger p {
  margin-right: 0.5rem;
  font-size: 13px;
}
.border {
  height: 30px;
  width: 1px;
  background: #eee;
  padding: 0;
  margin: 0 0.5rem;
}
@media (max-width: 992.98px) {
  .navSearch {
    flex-grow: 1;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 0;
  }
}
